extends ../layouts/blog/default


block content
	.container.blog-section
		.col-md-12.blog-item-content
			.col-offset-2.col-sm-offset-2.col-md-8.col-sm-8.blog-info
				p.blog-date=moment(data.post.publishedDate).format('LL')
				h1.blog-title=data.post.title
				div.blog-desc!=data.post.content.extended
				if data.post.tags.length > 0
					.tag-section
						ul
							each tag in data.post.tags
								li
									a(href=`/blog/${tag.name}`)=tag.name
				.share-section
					ul.shareing
						//li.post-link
						//	img(src='/icons/link.svg')
						li
							//.fb-share(data-href=domain + 'blog/post/' + filters.post, data-layout='button_count', data-size='small', data-mobile-iframe='true')
							//	a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=' + domain + 'blog/' + filters.post + '&src=sdkpreparse')
							.fb-share(data-layout='button_count', data-size='small', data-mobile-iframe='true')
								a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u&src=sdkpreparse')
									img(src='/icons/facebook.svg')
						li
							a.twitter-share-button(href='https://twitter.com/intent/tweet', target="_blank")
								img(src='/icons/twitter.svg')
							
				.comment-section
					.fb-comments(data-width='636', data-colorscheme='light', data-numposts='5')
	script(src='/js/jquery/jquery-1.11.3.min.js')
